/*====================================================
header
====================================================*/
.headerNav li a{
    position: relative;
}
.headerNav li a:after{
    content: "";
    position:absolute;
    display: inline-block;
    width: calc(100% + 4px);
    height: 1px;
    bottom:-6px;
    left:-2px;
    background-color: theme('colors.white');
}
.headerNav li a:hover:after{
    background-color: theme('colors.black');
}


@media screen and (max-width: 767.98px) {
    .headerNav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        transition: all 500ms 0s ease;
    }
    .headerNav.active {
        top: 0;
    }
    .hamburgerBtn{
        width: 34px;
        height: 34px;
        position: relative;
    }
    .hamburgerBtn span{
        display: inline-block;
        position: absolute;
        background: theme('colors.black');
        left: 2px;
        width: 30px;
        height: 2px;
        transition: all 0.4s;
    }
    .hamburgerBtn span:nth-of-type(1) {
        top: 6px;
    }
    .hamburgerBtn span:nth-of-type(2) {
        top: 16px;
    }
    .hamburgerBtn span:nth-of-type(3) {
        top: 26px;
    }
    .hamburgerBtn.active span:nth-of-type(1) {
        transform: translateY(6px) rotate(-45deg);
        top: 10px;
    }
    .hamburgerBtn.active span:nth-of-type(2) {
        opacity: 0;
    }
    .hamburgerBtn.active span:nth-of-type(3) {
        transform: translateY(-6px) rotate(45deg);
        top: 22px;
    }
}